html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}
